body{
    background-color: #d8e7fb;
}

a.underlined {
    text-decoration: underline;
}

.highlight {
    color: #31b0d5;
    font-weight: bold;
    text-shadow: 5px;
}

.grey {
    color: #999;
    text-shadow: 5px;
}

.content{
    background-color: white;
    border-radius: 20px; 
    padding: 20px !important;
}


/* Bootstrap elements
 * overriden
 */

.page-header {
    margin-top: 0px !important;
}

.carousel-control {
    border-radius: 10px !important;
}

.carousel-inner .item {
    margin: 0% 20% 20% 20%!important;
    text-align: left;
}

.carousel-indicators{
    
}

.carousel-indicators li{
    background-color: #286090 !important;
}

.carousel-indicators .active {
    background-color: #d8e7fb !important;
    border: 1px solid #286090;
}

.jumbotron{
    background-image: url('../img/itsupport.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255,255,255,50);
    color: white;
    border-radius: 20px !important;
    padding: 15px;
}


/* Styles of Bootstrap element tabs-left
 * from version 2.3.2
 */

.tabbable {
  *zoom: 1;
}

.tabbable:before,
.tabbable:after {
  display: table;
  line-height: 0;
  content: "";
}

.tabbable:after {
  clear: both;
}
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  /* custom property: margin-top */
  margin-top: 20px !important;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
